*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:white;
}

header{
    position:absolute;
    top:0;
    left:0;
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 60px;
}

.logo{
    font-size:32px;
    font-weight:bold;
    color:black;
    letter-spacing:2px;
}

.btn-login{
    text-decoration:none;

    background:black;
    color:white;

    padding:12px 24px;

    border-radius:8px;

    transition:0.3s;
}

.btn-login:hover{
    background:#333;
}

.hero{
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    background:
    linear-gradient(
        135deg,
        #ffffff,
        #f3f3f3,
        #d9d9d9
    );
}

.hero-content{
    max-width:800px;
}

.hero-content h1{
    font-size:80px;
    color:black;

    margin-bottom:25px;
}

.hero-content p{
    font-size:24px;

    color:#444;

    margin-bottom:40px;

    line-height:1.6;
}

.btn-principal{
    display:inline-block;

    text-decoration:none;

    background:black;
    color:white;

    padding:16px 35px;

    border-radius:10px;

    font-size:18px;

    transition:0.3s;
}

.btn-principal:hover{
    transform:translateY(-3px);
}