<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechZone</title>

<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="top-bar"></div>

<header>

    <div class="logo-container">

        <img src="{{ url_for('static', filename='logo.png') }}"
             alt="Logo"
             class="logo-img">

        <h2 class="logo">
            TECH Zone
        </h2>

    </div>

    <a href="/login" class="btn-login">
        Iniciar Sesión
    </a>

</header>

<section class="hero">

    <div class="hero-content">

        <span class="subtitulo">
            TECNOLOGÍA PREMIUM
        </span>

        <h1>
            La mejor tecnologia con la mejor empresa
        </h1>

        <p>
            Descubre una experiencia en tecnología.
            Equipos modernos, diseño elegante y rendimiento
            excepcional en un solo lugar.
        </p>

        <a href="#" class="btn-principal">
            Explorar Tienda
        </a>

    </div>

</section>

</body>

</html>
