<header class="navbar">
    <div class="logo">TIENDA</div>

    <nav class="nav-menu">
        <a href="#">Inicio</a>
        <a href="#">Productos</a>
        <a href="#">Ofertas</a>
        <a href="#">Contacto</a>
    </nav>
</header>

<section class="hero-banner">
    <div class="hero-content">
        <h1>REDEFINE TU JUEGO</h1>
        <p>Equipamiento profesional gamer</p>
        <a href="#" class="btn-primary">Ver más</a>
    </div>
</section>

<section class="featured-products">

    <div class="product-card">
        <img src="">
        <h3>Teclado RGB</h3>
        <span>Bs. 350</span>
    </div>

</section>

<footer class="footer">
    Copyright 2026
</footer>