<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechZone</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>

        <div class="logo">
            TECHZONE
        </div>

        <a href="/login" class="btn-login">
        Iniciar Sesión
        </a>   

    </header>

    <section class="hero">

        <div class="hero-content">

            <h1>
                TECNOLOGÍA DEL FUTURO
            </h1>

            <p>
                Descubre los mejores productos tecnológicos,
                dispositivos premium y accesorios de última generación.
            </p>

            <a href="/login" class="btn-explorar"> Explorar</a>

        </div>

    </section>

</body>

</html>