<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administrativo | TECH Zone</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="panel-container">

        <div class="panel-header">

            <div>
                <h1>Panel Administrativo</h1>
                <p>Bienvenido a TECH Zone</p>
            </div>

            <a href="/logout" class="btn-salir">
                Cerrar Sesión
            </a>

        </div>

        <div class="panel-cards">

          <a href="/registrar-producto" class="card-admin">

                <h2>📦</h2>

                <h3>Registrar Producto</h3>

                <p>
                    Agrega nuevos celulares, laptops,
                    tablets y accesorios.
                </p>

            </a>

            <a href="/ver-productos" class="card-admin">

                <h2>📋</h2>

                <h3>Ver Productos</h3>

                <p>
                    Consulta y administra los productos
                    registrados.
                </p>

            </a>

        </div>

    </div>

</body>
</html>