<!DOCTYPE html>

<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Registrar Producto | TECH Zone</title>

<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
<div class="registro-container">

    <div class="registro-header">

        <h1>Registrar Producto</h1>

        <a href="/panel-admin" class="btn-volver">
            Volver al Panel
        </a>

    </div>

    <div class="registro-card">

        {% with mensajes = get_flashed_messages() %}
            {% if mensajes %}
                {% for mensaje in mensajes %}
                    <div class="mensaje-exito">
                        {{ mensaje }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/guardar"
              method="POST"
              enctype="multipart/form-data">

            <input
                type="text"
                name="nombre"
                placeholder="Nombre del producto"
                required
            >

            <input
                type="number"
                step="0.01"
                name="precio"
                placeholder="Precio"
                required
            >

            <input
                type="number"
                name="stock"
                placeholder="Stock"
                required
            >

            <input
                type="file"
                name="imagen"
            >

            <button type="submit">
                Guardar Producto
            </button>

        </form>

    </div>

</div>

</body>

</html>
